<div class="categories">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <img
          src="https://images.unsplash.com/photo-1517970640957-23d07d5ed08c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmxvcmFsJTIwZHJlc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
          alt="woman in a floral dress"
        />
      </div>
      <div class="col-3">
        <img
          src="https://images.unsplash.com/photo-1517970640957-23d07d5ed08c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmxvcmFsJTIwZHJlc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
          alt="woman in a floral dress"
        />
      </div>
      <div class="col-3">
        <img
          src="https://images.unsplash.com/photo-1517970640957-23d07d5ed08c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmxvcmFsJTIwZHJlc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
          alt="woman in a floral dress"
        />
      </div>
    </div>
  </div>
</div>
