<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Contact us</h3>
        <p>
          We closed our office as we learned we can just as well work from home.
          Please feel free to send us an email @ prettydress@myemail.com or
          conact us via social media.
        </p>
      </div>
      <div class="footer-col-2">
        <img src="./images/logo.png" alt="" />
        <p>
          "Pretty Dress" is also the owner of "Pretty Dress" Trademark
          registered in many countries. "Pretty Dress"’s trademarks and trade
          dress may not be used in connection with any product or service that
          is not Pretty Dress’s.
        </p>
      </div>

      <div class="footer-col-3">
        <h3>Find us on</h3>
        <ul>
          <li><a href="#" class="fa fa-instagram"></a>Instagram</li>
          <li><a href="#" class="fa fa-youtube"></a>Youtube</li>
          <li><a href="#" class="fa fa-facebook"></a>Facebook</li>
          <li><a href="#" class="fab fa-whatsapp-square"></a>What's app</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">©2009-2022 "Pretty Dress Store" Rights Reserved.</p>
  </div>
</div>
