<%-include('partials/head.ejs'); %> <%-include('partials/head-title.ejs',
{title: docTitle, path: path});; %> <%-include('partials/navigation.ejs'); %>

<h1>Page Not Found</h1>

<%- include('partials/end.ejs'); %>
