<%-include('partials/head.ejs'); %> <%-include('partials/head-title.ejs',
{title:docTitle, path: path}); %> <%-include('partials/navigation.ejs'); %>
<h2>This is a Cart page</h2>
<main>
  <div>
    <article>
      <% for (let i=0; i<=prod.length; i++) { %>
      <p><% prod.title %></p>
      <p><% prod.price %></p>
      <p><% totalprice %></p>
      <% } %>
    </article>
  </div>
</main>

<a href="/my-orders" class="btn">See My Orders</a>
<%- include('partials/end.ejs'); %>
