<%-include('partials/head.ejs'); %> <%-include('partials/head-title.ejs',
{title:docTitle, path: path}); %> <%-include('partials/navigation.ejs'); %>
<h2>Orders Page</h2>
<%- include('partials/end.ejs'); %>
